.row 
    .col-12 
        a.btn.btn-primary.me-2.mb-2(href="/users/not-friends") Danh sách người dùng

        a.btn.btn-primary.me-2.mb-2(href="/users/friends") Bạn bè

        a.btn.btn-primary.me-2.mb-2(href="/users/requests") Lời mời đã gửi
        
        a.btn.btn-primary.me-2.mb-2(href="/users/responds") Lời mời kết bạn